<form>
    <div class="form-group">
        <label for="InputName">First Name</label>
        <input type="text" class="form-control" id="InputName" aria-describedby="name" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="InputName">Last Name</label>
        <input type="text" class="form-control" id="InputName" aria-describedby="name" placeholder="Last Name">
    </div>
    <div class="form-group">
      <label for="InputEmail">Email address</label>
      <input type="email" class="form-control" id="InputEmail1" aria-describedby="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="InputPassword">Password</label>
      <input type="password" class="form-control" id="InputPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="InputPassword">Confirm Password</label>
        <input type="password" class="form-control" id="InputPassword" placeholder="Confirm Password">
      </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>